.SingleProductImage {
  height: 250px;
  width: 100%;
}
.SingleProductButtons {
  display: flex;
 
}


@media screen and (max-width: 768px) {
  .SingleProductImage {
    height: 250px;
    width: 350%;
  }
}